{{define "title"}}About - Norbert{{end}}
{{template "header" .}}
{{template "topMenu" .}}

<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4 mb-4">Content1</h1>
            <div class="content">
                <h2 class="h3 mb-4">WooHoo Praise the Lord for the day He has made!</h2>
                <p class="lead mb-4">
                    Welcome to our platform. We are dedicated to providing the best service to our users.
                </p>
                <p class="mb-4">
                    Our mission is to create innovative solutions that help people achieve their goals.
                </p>
                <p>
                    Feel free to reach out to us if you have any questions or need assistance.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4 mb-4">Content2</h1>
            <div class="content">
                <p class="lead mb-4">
                    Welcome to our platform. We are dedicated to providing the best service to our users.
                </p>
                <p class="mb-4">
                    Our mission is to create innovative solutions that help people achieve their goals.
                </p>
                <p>
                    Feel free to reach out to us if you have any questions or need assistance.
                </p>
            </div>
        </div>
    </div>
</div>

{{template "footer" .}}

